<a href="https://colab.research.google.com/github/Fenriz1349/exercices/blob/main/Cours_Python_Base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECTION

Tableau à 2 dimensions :

>declaration Var[0]=[1,2,3]

> acceder à element : Var[0][1]

Boucle For et dictionnaire: elle boucle sur l'indice du dictionnaire, et donc dico[i] accede à la valeur

In [ ]:
a=2*4
print (a)

ecrire un programme qui permet d'afficher 2 phrases, puis les concatener dans une 3eme et l'afficher

In [ ]:
a='Hello'
b='Fen'
c=a+' '+b
print(a,b,c)

ecrire un programme qui permet d'additionner 2 varialbes et d'increment cette variable par son même nombre

In [ ]:
a=2
b=3
c=a+b
print('la somme de a+b est de :',c)
c+=c
print(c)

un programme qui permet de faire la division d'un nombre, afficher le resultat et son reste

In [ ]:
a=6
b=2
print('la divison de ',a," et ",b,' est ',a/b,' et son reste est ',a%b)

calculer à partir du rayon et de la hauteur le volume d'un cone

In [ ]:
import math
rayon =int(input('quel est le rayon?'))
hauteur =int(input('quel est la hauteur?'))
print('le volume du cone est de',(1/3)*math.pi*rayon*rayon*hauteur)

afficher  le discriminant de x2+2x-4

In [ ]:
a =int(input('quel est a? '))
b =int(input('quel est b? '))
c=-4
delta= (b*b)-(4*a*c)
print('le discriminant est',delta)

quel est a? 1
quel est b? 2
le discriminant est 20

ecrivez un script qui lit un nomber et affiche sa conversion de farenheit à celcius

In [ ]:
temp=int(input('quelle est la temperatuer en degres Ferenheint ? '))
print('la conversion donne :',(temp-32)/1.8,' °Celcius')

quelle est la temperatuer en degres Ferenheint ? 100
la conversion donne : 37.77777777777778  °Celcius

ecrire une fonction somme

In [2]:
def somme (a,b):
  return a+b
nb1=float(input('premier nombre '))
nb2=float(input('second nombre '))
print(somme(nb1,nb2))

premier nombre 20.3
second nombre 12.5
32.8

ecrire une fonction multiple

In [3]:
def multiple(a,b):
  return a*b
nb1=float(input('premier nombre '))
nb2=float(input('second nombre '))
print(multiple(nb1,nb2))

premier nombre 2.5
second nombre 33
82.5

ecrire une fonction surface

In [ ]:
def surface(a,b):
  return a*b
nb1=float(input('longueur'))
nb2=float(input('largeur '))
print('la surface de ',nb1,' et ',nb2,' est ',surface(nb1,nb2))

longueur5
largeur 6
la surface de  5.0  et  6.0  est  30.0

fonction factoriel

In [ ]:
def factoriel(a):
  from math import factorial
  return factorial(a)
nb=int(input('entrez un nombre : '))
print('le factoriel de ',nb,' est ',factoriel(nb))

entrez un nombre : 1
le factoriel de  1  est  1

ecrire une fonction qui renvoi un nombre aleatoire entre 2 nombres

In [ ]:
def aleatoire():
  from random import randint
  min=int(input('minimum '))
  max=int(input('maximum '))
  while max<min :
    min=int(input('erreur,minimum doit etre inferieur au max '))
    max=int(input('maximum '))
  rdn = randint(min,max)
  print(rdn,' est un nombre aléatoire entre ',min,' et ',max)
  return rdn
aleatoire()

minimum 4
maximum 5
4  est un nombre aléatoire entre  4  et  5

4

ecrivez un programme pour trouver un maximum entre 3 nombres

In [ ]:
def maximum3 (a,b,c):
  if a>b and a>c : return a
  elif b>a and b>c : return b
  else : return c;
a =input('entrez 3 nombres separé par une virgule ')
liste= a.split(',')
print('le plus grand est ',maximum3(int(liste[0]),int(liste[1]),int(liste[2])))

entrez 3 nombres separé par une virgule 1,2,3
le plus grand est  3

ecrivez un programme pour verifier sir un nombre est divisible par 2 et 5 ou non

In [ ]:
def div2et5(n):
  return n%10==0
print(div2et5(30))

True

ecrivez un programme pour verifier si un nombre est pair ou impair

In [ ]:
def pairImpair(n):
  return n%2==0
print(pairImpair(31))

False

ecrivez un programme pour verifier si une lettre est un voyelle ou une consomme

In [ ]:
def voyelleOui(n):
  return n.lower() in ('aeiouy')
print('c\'est une voyelle') if(voyelleOui(input('entrez une lettre '))) else print('c\'est une consonne')

entrez une lettre A
c'est une voyelle

ecrivez un programme pou entrer le numero de la semaine et afficher le jour

In [ ]:
def jourSemaine(a):
  match a:
    case 1: print("on est lundi")
    case 2: print("on est mardi")
    case 3: print("on est mercredi")
    case 4: print("on est jeudi")
    case 5: print("on est vendredi")
    case 6: print("on est samedi")
    case 7: print("on est dimanche")
jourSemaine(int(input('numero du jour ')))

numero du jour5
on est vendredi

écrivez un programme pour trouver toutes les racines dune equation du second de gres (ax2+bx+c)

In [ ]:
def racineCarre(a,b,c):
  from math import sqrt
  delta= (b*b)-(4*a*c)
  if delta <0 :return print(delta,' est negatif, pas de solution')
  elif delta==0 : return print ('delta = 0 , une seule solution :',-(b/(2*a)))
  else : print('delta = ',delta,' il y a 2 solution :',(-b-sqrt(delta))/(2*a),' et ',(-b+sqrt(delta))/(2*a))
test =input('entrez a,b puis c separé par une virgule ')
liste= test.split(',')
racineCarre(int(liste[0]),int(liste[1]),int(liste[2]))

entrez a,b puis c separé par une virgule 2,6,2
delta =  20  il y a 2 solution : -2.618033988749895  et  -0.3819660112501051

ecrivez un programme pour saisir le prix de fabrication et le prix de vente d'un produit et verifié si il y a profit ou perte

In [ ]:
def perteProfit(fabrication,vente):
   print('il y a perte') if fabrication>vente else print('il y a profit')
perteProfit(float(input('prix de fabrication ? ')),float(input('prix de vente ? ')))

prix de fabrication ? 50
prix de vente ? 30
il y a perte

le tarif de visite d'un chateau est :
gratuit pour les enfants entre 0 et 3 ans
4 euros pour les enfants entre 4 et 11 ans
9 euros pour les plus de 11 ans

In [ ]:
def tarif_chateau(age):
    if age in range(0,3): return 0
    elif age in range(4,11): return 4
    else :return 9
print('le prix de la visite est de ',tarif_chateau(int(input('entrez votre age : '))))

entrez votre age : 1
leprix de la visite est de  0

*Exercices sur les tableaux

algo qui permetn d'echanger le premier et le dernier element d'une liste

In [ ]:
def switch_premier_dernier(lst):
  der=lst[]
  lst[len(lst)-1]=lst[0]
  lst[0]=der
  return lst
switch_premier_dernier([1,2,3,4,5,6,7,9])

[9, 2, 3, 4, 5, 6, 7, 1]

algo qui initialise une liste et ajoute ds elements demandé par un utilisateur

In [ ]:
def ajout_liste(lst):
  reponse='oui'
  while reponse!='non':
    lst.append(input('saisir la donnée'))
    reponse=input("saisir encore ? non pour arreter")
  return lst
liliste=[]
ajout_liste(liliste)
print(liliste)

saisir la donnée1
saisir encore ? non pour arreteroui
saisir la donnée2
saisir encore ? non pour arreteroui
saisir la donnée3
saisir encore ? non pour arreteroui
saisir la donnéejaja
saisir encore ? non pour arreteroui
saisir la donnéejaja
saisir encore ? non pour arreternon
['1', '2', '3', 'jaja', 'jaja']

algo qui permet de supprimer des element

In [ ]:
def supprime_liste(lst):
  reponse='oui'
  while reponse!='non':
    print(lst)
    saisie=input('supprimer quelle donnée ?')
    while saisie not in lst :
      saisie=input('valeur incorect, saisir une donneé dans le tableau')
    lst.remove(saisie)
    reponse=input("supprimer encore ? non pour arreter")
  return lst

supprime_liste(liliste)
print(liliste)

['2', '3', 'jaja']
supprimer quelle donnée ?5
valeur incorect, saisir une donneé dans le tableau5
valeur incorect, saisir une donneé dans le tableau6
valeur incorect, saisir une donneé dans le tableau7
valeur incorect, saisir une donneé dans le tableaujaja
supprimer encore ? non pour arreternon
['2', '3']

les dictionnaires

> var={} => dictionnaire vide

> var={'cle':'valeur'}

> chaque clé doit être unique, on peut rajouter des paires clé: valeur à la volée

> var: {'cle1':valeur1,'clé2':valeur2}

In [ ]:
#dictionnaire de jour et trouve le jour
def jour_semaine(nb):
  semaine ={1:'lundi',2:'mardi',3:'mercredi',4:'jeudi',5:'vendredi',6:'samedi',7:'dimanche'}
  return semaine[nb]
print('le jour de la semaine',jour_semaine(int(input('numero du jour '))))

numero du jour 4
le jour de la semaine jeudi

fonction qui declare un dictionnaire puis saisie tous ses elements à partir de l'utilisateur

In [ ]:
def creation_dictionnaire():
  dico={}
  reponse='oui'
  while reponse!='non':
    saisie =input('entrez le couple clé : valeur separé par :').split(":")
    dico[saisie[0]]=saisie[1]
    reponse=input("saisir encore ? non pour arreter")
  return dico
test=creation_dictionnaire()
print(test)

entrez le couple clé : valeur separé par :1:zizi
saisir encore ? non pour arreter2:zouzou
entrez le couple clé : valeur separé par :2:zouzou
saisir encore ? non pour arreternon
{'1': 'zizi', '2': 'zouzou'}

soit les deux dico suivant : dict1={'a':10,'b':8} et dict2={'d':6,'c':4}. Ecrire une fonction qui fusionne les 2 dictionnaires

In [ ]:
def fusion_2_dico(dict1,dict2):
  return (dict1|dict2)
dict1={'a':10,'b':8}
dict2={'b':6,'c':4}
print(fusion_2_dico(dict1,dict2))
print(dict1,dict2)

{'a': 10, 'b': 6, 'c': 4}
{'a': 10, 'b': 8} {'b': 6, 'c': 4}

fonction qui retourne la somme de tous les elements passé en parametre

In [ ]:
def somme_dico(dico):
  return sum(var for var in dico.values())
dico={x:x+66 for x in range(1,11)}
print(dico)
print (somme_dico(dico))

{1: 67, 2: 68, 3: 69, 4: 70, 5: 71, 6: 72, 7: 73, 8: 74, 9: 75, 10: 76}
715

fonction affiche compteur qui prend un para n et ecreit la suite de 0 à n

In [ ]:
def affiche_compteur(n):
  i=0
  while i <=n :
    print(i)
    i+=1
affiche_compteur(10)

0
1
2
3
4
5
6
7
8
9
10

fonction affiche_nombre_paires qui affiche les pairs jusque n

In [ ]:
def affiche_nombre_paires(n):
  i=0
  while i <=n :
    if i%2==0 :print(i)
    i+=1
affiche_nombre_paires(10)

0
2
4
6
8
10

fonction affiche_nombre_impaires qui affiche les pairs jusque n

In [ ]:
def affiche_nombre_impaires(n):
  i=0
  while i <=n :
    if i%2!=0 :print(i)
    i+=1
affiche_nombre_impaires(10)

1
3
5
7
9

fonction sens_inverse qui prend n et ecrit les entier de n à 1

In [ ]:
def affiche_compteur(n):
  i=n
  while i>=1 :
    print(i)
    i-=1
affiche_compteur(10)

10
9
8
7
6
5
4
3
2
1

fonction somme qui prend n et qui ecrit la somme entre 1 et n

In [ ]:
def somme(n):
  i=0
  temp=0
  while i <=n :
    temp+=i
    i+=1
  return temp
somme(10)

55

fonction table de multiplication

In [ ]:
def mutiplication(n):
  i=0
  while i <=20 :
    print(n,' x ',i,' = ',i*n)
    i+=1
  return True
mutiplication(int(input('la table de combien ?')))

la table de combien ?10
10  x  0  =  0 10  x  1  =  10 10  x  2  =  20 10  x  3  =  30 10  x  4  =  40 10  x  5  =  50 10  x  6  =  60 10  x  7  =  70 10  x  8  =  80 10  x  9  =  90 10  x  10  =  100 10  x  11  =  110 10  x  12  =  120 10  x  13  =  130 10  x  14  =  140 10  x  15  =  150 10  x  16  =  160 10  x  17  =  170 10  x  18  =  180 10  x  19  =  190 10  x  20  =  200

True

fonction factorielle

In [ ]:
def factorielle():
  n=int(input('le factoriel de combien ? '))
  i=1
  temp=1
  while i <=n :
    temp*=i
    i+=1
  return temp
  print('le factoriel de ',x,' est ',temp)
factorielle()

le factoriel de combien ?666

1010632056840781493390822708129876451757582398324145411340420807357413802103697022989202806801491012040989802203557527039339704057130729302834542423840165856428740661530297972410682828699397176884342513509493787480774903493389255262878341761883261899426484944657161693131380311117619573051526423320389641805410816067607893067483259816815364609828668662748110385603657973284604842078094141556427708745345100598829488472505949071967727270911965060885209294340665506480226426083357901503097781140832497013738079112777615719116203317542199999489227144752667085796752482688850461263732284539176142365823973696764537603278769322286708855475069835681643710846140569769330065775414413083501043659572299454446517242824002140555140464296291001901438414675730552964914569269734038500764140551143642836128613304734147348086095123859660926788460671181469216252213374650499557831741950594827147225699896414088694251261045196672567495532228826719381606116974003112642111561332573503212960729711781993903877416394381718464765527575014252129040283236963922624344456975024058167368431809068544577258472983979437818072648213608650098749369761056961203791265363665664696802245199962040041544438210327210476982203348458596093079296569561267409473914124132102055811493736199668788534872321705360511305248710796441479213354542583576076596250213454667968837996023273163069094700429467106663925419581193136339860545658673623955231932399404809404108767232000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

affiche la suite de fibo

In [ ]:
def fibo(max):
  x = 0
  y = 1
  print (x,end=', ')
  print (y,end=', ')
  i=0
  while i<= max-2 :
      n=x+y
      x=y
      y=n
      i+=1
      print(n,end=', ')
fibo(int(input('entrez le max pour la suite de fibo')))

entrez le max pour la suite de fibo1
0, 1,

fonction starsquare qui prend une entier sizesquare et qui affiche un carre d'étoile

In [ ]:
def starsquare(sizesquare):
  for i in range(sizesquare) :
    for y in range(sizesquare):
      print('*',end=' ')
    print()
starsquare(int(input('taille du carrée ? ')))

taille du carrée ? 2
* *
* *

fonction starrect qui prend une entier height et widh et qui affiche un carre d'étoile

In [ ]:
def starrect(height,widh):
  for i in range(height) :
      print('* '*widh)
starrect(int(input('quelle est la hauteur ? ')),int(input('quelle est la longueur? ')))

quelle est la hauteur ? 10
quelle est la longueur? 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

fonction carrevide qui prend n et affiche un carré non rempli

In [ ]:
def carrevide(n):
  for i in range(n) :
    if i==0 or i==n-1 : print('* '*n)
    else :
      print('*',' '*((n-2)+(n-1)-2),'*')
carrevide(int(input('taille du carrée ? superieur à 3 ')))

taille du carrée ? superieur à 3 10
* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

fonction diagonale qui prend n et affiche un carré non rempli avec une diagonale

à finir !

In [ ]:
def diagonale(n):
  for x in range (1,n+1) :
    for y in range(1,n):
      if (x==1 or x==n) or (y==1 or y==n) or x==y or (x+y==n+1): print('*', end=" ")
      else : print(' ',end=" ")
    print('*')
print(diagonale(int(input('taille du carrée ? superieur à 3 '))))

taille du carrée ? superieur à 3 15
* * * * * * * * * * * * * * *
* *                       * *
*   *                   *   *
*     *               *     *
*       *           *       *
*         *       *         *
*           *   *           *
*             *             *
*           *   *           *
*         *       *         *
*       *           *       *
*     *               *     *
*   *                   *   *
* *                       * *
* * * * * * * * * * * * * * *
None

fonction affiche lettre par lettre qui prend une string et qui affiche tous les caractères

In [ ]:
def affiche_lettre_par_lettre(chaine):
  i=0
  while i<len(chaine):
    print(chaine[i])
    i+=1
  return True
affiche_lettre_par_lettre(input('entrez moi une phrase '))

entrez moi une phrasediablo 4 c'est bien
d
i
a
b
l
o

4

c
'
e
s
t

b
i
e
n

True

fonction affiche nombre occurence qui prend une chaine et un char et indque le nombre d'occurence

In [ ]:
def affiche_nombre_occurence(chaine,a):
  count=0
  for i in chaine :
    if i==a:count+=1
  return count
x=input('entrez moi une phrase et un char, separé par # ').split('#')
affiche_nombre_occurence(x[0],x[1])

entrez moi une phrase et un char, separé par # ziziziziziziziziziziziziz#z

13

fonction affiche index char qui prend une chaine et un char et donne l'indice dans la phrase

In [ ]:
def affiche_index_caractere(chaine,a):
  i=0
  while i<= len(chaine) :
    if i==len(chaine): return False
    elif chaine[i]==a:
      return i
      break
    i+=1

x=input('entrez moi une phrase et un char, separé par # ').split('#')
resultat = affiche_index_caractere(x[0],x[1])
print(x[1],'n\'est pas dans la phrase :',x[0]) if not resultat else print(x[1],' est à l\'indice ',resultat,' dans la chaine ',x[0])

entrez moi une phrase et un char, separé par # vive le vent#i
i  est à l'indice  1  dans la chaine  vive le vent

fonction affiche sous chaine qui prend une chaine en para et une autre sous chaine et qui affiche le nombre d'occurance

In [ ]:
def nb_souchaine(chaine1,chaine2):
  i=0
  count=0
  while i<= len(chaine1):
    if chaine2==chaine1[i:len(chaine2)] :count+=1
    i+=1
  return count

x=input('entrez moi une phrase et une sous chaine, separé par # ').split('#')
resultat = nb_souchaine(x[0],x[1])
print(x[1],'n\'est pas dans la phrase :',x[0]) if resultat!=0 else print(x[1],' est ',resultat,' fois dans dans la chaine ',x[0])

entrez moi une phrase et une sous chaine, separé par # ii#i
i n'est pas dans la phrase : ii

fonction pour afficher le nombre de voyelle dans une chaine avec leurs indices

In [ ]:
def nombre_voyelle(chaine):
  liste_voyelle={}
  i=0
  while i < len(chaine) :
    if chaine[i].lower() in ('aeiouy'):
      liste_voyelle[i]=chaine[i]
    i+=1
  return liste_voyelle
resultat =nombre_voyelle(input('entrez moi une phrase '))
print('pas de voyelles ') if len(resultat)==0 else print('il y a ',len(resultat),' voyelles dans la phrase et ils sont aux indices :',resultat)

entrez moi une phrase hello world
il y a  3  voyelles dans la phrase et ils sont aux indices : {1: 'e', 4: 'o', 7: 'o'}

avec while une fonction negatif element qui prend 2 para : un tableau et un element, puis qui afficher tous les nombres en dessous

In [ ]:
def negatif_element(tab,n):
  nega=[]
  for i in tab:
    if i<n : nega.append(i)
  return nega
x=list(map(int, input('entrez la liste de nombre , separé par ,  ').split(',')))
n=int(input('entrez la valeur à tester :'))
resultat=negatif_element(x,n)
print(f"il n\'y a pas de valeur plus petites que {n} dans la liste {x}") if len(resultat)==0 else print(f"il y a {len(resultat)} valeurs plus petites que {n} dans la liste {x} : {resultat}")

entrez la liste de nombre , separé par ,  10,-5,0,8,4
entrez la valeur à tester :5
il y a 3 valeurs plus petites que 5 dans la liste [10, -5, 0, 8, 4] : [-5, 0, 4]

fonction calcule element qui calcule la somme et la moyenne des valeurs

In [ ]:
def calcule_element(tab):
  return sum(x for x in tab), sum(tab) / len(tab)
x=list(map(int, input('entrez la liste de nombre , separé par ,  ').split(',')))
resultat=calcule_element(x)
print(f"pour la liste {x} la somme est de {resultat[0]} et la moyenne est {resultat[1]}")

entrez la liste de nombre , separé par ,  1,2,3,4,5,6
pour la liste [1, 2, 3, 4, 5, 6] la somme est de 21 et la moyenne est 3.5

afficher le nombre de paire et d'impaire d'une liste

In [ ]:
def pair_impair(lst):
  pair=0
  impair=0
  for i in lst:
    if i%2==0 : pair+=1
    else: impair+=1
  return pair,impair
x=list(map(int, input('entrez la liste de nombre , separé par ,  ').split(',')))
print(f'dans la liste {x} il y a {pair_impair(x)[0]} nombres paires et {pair_impair(x)[1]} nombre impaires')

entrez la liste de nombre , separé par ,  -1
dans la liste [-1] il y a 0 nombres paires et 1 nombre impaires

programme qui à partir de 2 tableaux à 1 dimensions fait un tableau à 2 dimensions contenant les produits de chaque termes de chaque tableau

In [ ]:
def multiplication_tableau(tab1,tab2):
  resultat=[]
  for i in range(len(tab1)) :
    resultat2=[]
    for y in range(len(tab2)) :
      resultat2.append(tab1[i]*tab2[y])
    resultat.append(resultat2)
  return resultat
tab1=[2,3,4,5]
tab2=[4,5,6,7]
print(multiplication_tableau(tab1,tab2))

[[8, 10, 12, 14], [12, 15, 18, 21], [16, 20, 24, 28], [20, 25, 30, 35]]

soit deux dico : dict1={'a':10,'b':8} et dict2={'d':6,'c':4} ecrire une fonction qui fusioner les 2 dictionnaires

In [ ]:
def fusion_dico(dict1,dict2):
  return dict1|dict2

dict1={'a':10,'b':8}
dict2={'d':6,'c':4}
print(fusion_dico(dict1,dict2))

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

retourne la somme des valeurs dun dico

In [ ]:
def somme_dico(dict):
  return sum(dict[x] for x in dict)
dico={'a':100,'b':200,'c':300}
print(somme_dico(dico))

600

fonction qui declare un dico puis saisie tous ses elements à partir de l'utilisateur

In [ ]:
def saisie_dico():
  dico={}
  while input('voulez-vous continuer ? n pour stop ')!='n':
    x=input('entrez la clé puis la valeur après :').split(':')
    dico[x[0]]=x[1]
  return dico
resultat = saisie_dico()
print(resultat)

voulez-vous continuer ? n pour stopo
entrez la clé puis la valeur après :1:a
voulez-vous continuer ? n pour stopu
entrez la clé puis la valeur après :2:7
voulez-vous continuer ? n pour stopb
entrez la clé puis la valeur après :3:4
voulez-vous continuer ? n pour stopn
{'1': 'a', '2': '7', '3': '4'}

fonction qui renvoie un dico qui contient les frequences d'elements present dans la liste

In [ ]:
def occurence_liste(lst):
  tri=lst.sort()
  dico={}
  for i in lst :
    dico[i]=dico[i]+1
  return dico

x=list(map(int, input('entrez la liste de nombre , separé par ,  ').split(',')))
print(occurence_liste(x))

entrez la liste de nombre , separé par ,  1,1,1

KeyError: ignored